html, body, div, span, object, iframe, img, strong, b, u, i, table, tbody, tfoot, thead, td, th, tr form, label, legend, header, footer, article, section, aside {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

table, td, th, tr {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

input, select, textarea {
  font-family: "Open Sans", arial, helvetica, sans-serif;
  font-weight: 400;
  color: #000;
}

button {
  font-family: arial, helvetica, sans-serif;
  font-weight: 400;
  color: #000;
  cursor: pointer;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
}

.clear {
  clear: both;
  font-size: 0;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  background: #fff;
  color: #555;
  min-width: 360px;
}

.container {
  width: 100%;
  max-width: 1170px;
  min-width: 360px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 300;
}

header {
  background: url(img/bambuk.jpg) 50% 50% no-repeat;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header .container {
  padding-left: 5px;
}
header .container .top-header .logo img {
  width: 250px;
  margin-top: 40px;
}
header .container .top-header nav {
  text-align: right;
  margin-top: -50px;
}
header .container .top-header nav ul {
  list-style: none;
}
header .container .top-header nav ul li {
  display: inline-block;
  margin: 0 2%;
}
header .container .top-header nav ul a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  padding-bottom: 5px;
  font-weight: 500;
  cursor: pointer;
}
header .container .top-header nav ul a:hover {
  border-bottom: 2px solid #e67e22;
}
header .container .top-header nav ul a.maz {
  color: #e67e22;
}
header .container h1 {
  padding-top: 130px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0.67em 0;
}
header .container ul {
  list-style: none;
  margin-left: 30%;
}
header .container ul li {
  display: inline-block;
  margin: 0.1%;
}
header .container ul li a.bg {
  display: inline-block;
  text-decoration: none;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  text-align: center;
}
header .container ul li a.bg:hover {
  background-color: #d86500;
  text-align: center
}
header .container ul li a.o {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  transition: 0.5s;
  margin-top: 20px;
  color: #e67e22;
  border: 1px solid #e67e22;
  border-radius: 50px;
}
header .container ul li a.o:hover {
  color: #fff;
  background-color: #e67e22;
}
header .container .menu-btn {
  position: absolute;
  top: 70px;
  right: 20px;
  display: inline-block;
  width: 32px;
  height: 32px;
  display: none;
  transition: 0.3s;
}
header .container .not-active {
  background: url(img/menu.png) 50% 50% no-repeat;
}
header .container .is-active {
  background: url(img/cancel.png) 50% 50% no-repeat;
}
.header-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(69, 64, 64, 0.93);
  -webkit-box-shadow: 0 2px 2px #efefef;
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
  padding: 0 4%;
  transition: 0.5s;
}
.header-active .logo {
  margin-top: -15px;
}
.header-active .logo img {
  width: 200px !important;
}
.header-active nav ul li a {
  padding-top: 3px !important;
}

/*-------------- */
/*Section-team-- */
/*-------------- */
.section-team {
  text-align: center;
  margin-bottom: 100px;
}
.section-team .container {
  padding: 0 5px;
}
.section-team .container h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.section-team .container h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-team .container .flex-item-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  z-index: 9999;
}
.section-team .container .flex-item-block .item {
  width: 100%;
  margin-top: 30px;
}
.section-team .container .flex-item-block .item img.leaves {
  width: 88px;
  margin-bottom: -13px;
  margin-top: -17px;
}
.section-team .container .flex-item-block .item img.graphic {
  margin-top: -10px;
  width: 70px;
  margin-bottom: 0px;
}
.section-team .container .flex-item-block .item a {
  display: block;
  text-decoration: underline;
  font-size: 110%;
  margin-top: 30px;
  color: #555;
  padding-bottom: 5px;
  transition: 0.5s;
  text-transform: uppercase;
}
.section-team .container .flex-item-block .item a:hover {
  color: #e67e22;
}
.section-team .container .flex-item-block .item p {
  font-size: 90%;
  line-height: 145%;
}

/*-------------- */
/*MEAL-SHOWCASE-- */
/*-------------- */
.meals-showcase {
  margin-left: -40px;
}
.meals-showcase ul {
  list-style: none;
}
.meals-showcase ul li {
  width: 25%;
  float: left;
  overflow: hidden;
  background-color: #000;
}
.meals-showcase ul li img {
  width: 100%;
  height: 260px;
  display: block;
  transform: scale(1.15);
  opacity: 0.7;
  transition: 1s;
}
.meals-showcase ul li:hover {
  opacity: 1;
}
.meals-showcase ul li:hover img:hover {
  transform: scale(1);
  opacity: 1;
}
.imgh {
  height: 254px !important;
}
.img4 {
  height: 254px!important;
}

/*-------------- */
/*ORDER-- */
/*-------------- */
.order {
  background-color: #f4f4f4;
  margin-top: -32px;
  min-height: 800px;
}
.order .container {
  padding: 0 5px;
}
.order .container h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 70px;
  letter-spacing: 1px;
  padding-top: 80px;
  position: relative;
}
.order .container h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
.order .container .img {
  display: inline;
  text-align: right;
  margin-left: 25%;
}
.order .container .img img {
  width: 20%;
}
.order .container .list {
  text-align: left;
  display: inline-block;
  padding-left: 100px;
  position: absolute;
}
.order .container .list ul {
  list-style: none;
}
.order .container .list ul li {
  margin: 50px 0;
  font-size: 110%;
  position: relative;
}
.order .container .list ul li .div-1 {
  color: #e67e22;
  font-size: 150%;
  height: 54px;
  width: 54px;
  border: 2px solid #e67e22;
  border-radius: 50%;
  text-align: center;
  margin-right: 25px;
  padding: 5px;
  position: absolute;
  left: -72px;
  top: -10px;
}
.order .container .list ul a {
  text-decoration: none;
  color: #555;
  transition: 0.5s;
}
.order .container .list ul a:hover {
  color: #e67e22;
}
.order .container .list a.score {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  padding: 10px 30px;
  border-radius: 50px;
  margin-top: 50px;
  transition: 0.5s;
}
.order .container .list a.score:hover {
  background-color: #d36809;
}

/*-------------- */
/*CONTACT-- */
/*-------------- */
.contact {
  font-size: 110%;
}
.contact h3 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  padding-top: 30px;
}
.contact h3:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
.contact ul {
  list-style: none;
  display: inline-block;
  float: left;
  position: relative;
  margin-left: 30px;
}
.contact ul li a {
  text-decoration: none;
  color: #555;
  transition: 0.5s;
}
.contact ul li a:hover {
  color: #e67e22;
}
.contact .adress {
  float: left;
  margin-left: 15%;
  display: inline-block;
  margin-top: 25px;
  color: #555;
  width: 25%;
  position: relative;
}
.contact .email {
  text-align: right;
  margin-left: 10%;
  float: left;
  position: relative;
}
.contact .email a {
  text-decoration: none;
  display: inline-block;
  color: #555;
  transition: 0.5s;
}
.contact .email a:hover {
  color: #e67e22;
}
.contact ul:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  left: -7px;
  top: 0;
  background: url(img/phone-receiver.png) 50% 50% no-repeat;
}
.contact .adress:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  left: -46px;
  top: 0;
  background: url(img/pin.png) 50% 50% no-repeat;
}
.contact .email:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  left: -52px;
  top: 0;
  background: url(img/message.png) 50% 50% no-repeat;
}

.map {
  width: 100%;
  min-height: 500px;
  margin-top: 30px;
}

footer {
  font-size: 90%;
  padding: 50px;
  background-color: #242323;
}
footer .items {
  display: flex;
}
footer .items .img-block {
  margin-top: 30px;
  width: 20%;
}
footer .items .img-block img {
  width: 250px;
}
footer .items ul {
  list-style: none;
}
footer .items ul li {
  color: #fff;
}
footer .items ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: 0.6s;
}
footer .items ul li a:hover {
  color: #e67e22;
}
footer .items .info {
  margin: 50px 0 0 0;
  width: 30%;
  line-height: 40px;
}
footer .items .footer-contacts {
  margin-top: 40px;
}
footer .items .footer-contacts .social-icons {
  margin-right: 15px;
  float: left;
}
footer .items .footer-contacts .number {
  line-height: 30px;
  font-size: 120%;
}

.btn-up {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.btn-up img {
  width: 50px;
}

.btn-up-active {
  opacity: 1;
}
